@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Prata&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, forest;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #8cc751;
    --color-secondary: #018749;
    --color-success: #DADD98;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Prata', serif;
}

html {
  overflow-y: scroll;
}

@keyframes swing {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

